


@media (min-width: 768px) {
  .admin-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .admin-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
  }
}

.admin-content > .card {
  margin-bottom: 24px;
}

